.DS_Store
*.code-workspace
*.txt
*.WinMerge
_docs/

.iris/
.idea/
.gradle/

LICENSE

gradle/

build.gradle.kts

gradlew

gradlew.bat

settings.gradle.kts

.cache/

objects/imports/

externaldatapacks/
