.DS_Store
*.code-workspace
*.txt
*.WinMerge
_docs/

.iris/
.idea/
.gradle/

LICENSE

gradle/

build.gradle.kts

gradlew

gradlew.bat

settings.gradle.kts

.cache/

objects/imports/

externaldatapacks/

objects/dnt-ancient-city-overhaul/

objects/dnt-dtemple/

objects/dnt-jtemple/

objects/dnt-mansion/

objects/dnt-omonument/

objects/dnt-pillager/

objects/dnt-stronghold-overhaul/

objects/dnt-witchhut/
